<!DOCTYPE html>

<head>
<link rel="styesheet" type="text/css" href="http://ec2-54-68-227-128.us-west-2.compute.amazonaws.com/static/css/default.css">
</head>

<html>
<body>

<ul>
<li><a class="nav" href="/addListing">Add your listing</a></p>
<li><a class="nav" href="/viewListing">View a listing</a></p>
<li><a class="nav" href="/searchListings">Search listings</a></p>
<li><a class="nav" href="/autoBid">Automatic Bid</a></p>
<li><a class="nav" href="/viewBids">View My Bids</a></p>
</ul>
<br>


<form action="/insertListingPost/" method="post" enctype="multipart/form-data">{% csrf_token %}
username: <input type="text" name="username" value="Mouse"><br>
<br>
Item to sell - <br>
iPhone 6:
<input type="radio" name="itemID" value="5" >
<br>Samsung Galaxy S5:
<input type="radio" name="itemID" value="6" >
<br><br>
Item Description:<br>
<textarea style="overflow:auto;resize:none" rows="4" cols="50" name="description">
</textarea><br>
<br>
Max price willing to pay (full dollars): $<input type="number" name="maxPrice" value="100" min="0"><br>
<br>
Item condition you want:
<br>
New - In Box:
<input type="radio" name="condition" value="1" >
<br>Used - Like new:
<input type="radio" name="condition" value="2" >
<br>Used - Moderate:
<input type="radio" name="condition" value="3" >
<br>Used - Poor:
<input type="radio" name="condition" value="4" >
<br>Broken:
<input type="radio" name="condition" value="5" >
<br>
<input type="submit" value="Submit">

</form>
</body>
</html>
