<!DOCTYPE html>

<head>
<link rel="stylesheet" type="text/css" href="http://ec2-54-68-227-128.us-west-2.compute.amazonaws.com/static/css/default.css">
</head>

<head>
<body onload="javascript:checkIfLoggedIn()">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://ec2-54-68-227-128.us-west-2.compute.amazonaws.com/static/global.js"></script>

<script type="text/javascript">
function checkIfCorrectLogin() {
	var csrftoken = getCookie('csrftoken');
   	var xmlhttp;
	if (window.XMLHttpRequest){// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	} else {// code for IE6, IE5
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function(){
		if (xmlhttp.readyState==4 && xmlhttp.status==200){
			var jsonData = JSON.parse(xmlhttp.responseText);
			if(jsonData["success"] == "1"){
				// redirect on success
				window.location.replace("/");
			} else if(jsonData["success"] == "-1") {
				alert("Username/Password incorrect. Please try again!");
			}
		}
	}
	xmlhttp.open("POST","/loginJSON/",true);
	var params = "username="+ document.getElementById("username").value +"&password=" + document.getElementById("password").value;
	xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xmlhttp.setRequestHeader('X-CSRFToken', csrftoken);
	xmlhttp.send(params);
}

function checkIfLoggedIn(){
	var csrftoken = getCookie('csrftoken');
   	var xmlhttp;
	if (window.XMLHttpRequest){// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	} else {// code for IE6, IE5
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function(){
		if (xmlhttp.readyState==4 && xmlhttp.status==200){
			var jsonData = JSON.parse(xmlhttp.responseText);
			if(jsonData["success"] != "1"){
				// this means a user is logged in
				window.location.replace("/");
			} 
		}
	}
	xmlhttp.open("POST","/checkLoginJSON/",true);
	xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xmlhttp.setRequestHeader('X-CSRFToken', csrftoken);
	xmlhttp.send();
}
</script>

<p><a class="log" href="/register">Register</a></p>
<p><a class="log" href="/login">Login</a></p>

<h1><a class="title" href="http://ec2-54-68-227-128.us-west-2.compute.amazonaws.com">Anti-Ebay</a></h1>

<ul>
<li><a class="nav" href="/addListing">Add your listing</a></p>
<li><a class="nav" href="/viewListing">View a listing</a></p>
<li><a class="nav" href="/searchListings">Search listings</a></p>
</ul>
<br>


<form action="javascript:checkIfCorrectLogin();">
<label class="cred">Username: </label><input type="text" name="username" id="username"><br>
<label class="cred">Password: </label><input type="password" name="password" id="password"><br>
<input type="submit" value="Submit">
</form>

</body>
</html> 

