<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="http://ec2-54-68-227-128.us-west-2.compute.amazonaws.com/static/css/default.css">
</head>

<body onload="javascript:checkIfLoggedIn()">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://ec2-54-68-227-128.us-west-2.compute.amazonaws.com/static/global.js"></script>

<script type="text/javascript">
function checkIfLoggedIn(){
        var csrftoken = getCookie('csrftoken');
        var xmlhttp;
        if (window.XMLHttpRequest){// code for IE7+, Firefox, Chrome, Opera, Safari
          xmlhttp=new XMLHttpRequest();
        } else {// code for IE6, IE5
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange=function(){
                if (xmlhttp.readyState==4 && xmlhttp.status==200){
                        var jsonData = JSON.parse(xmlhttp.responseText);
                        if(jsonData["success"] != "1"){
                                // this means a user is logged in
                                $('#showLogout').html('<p><a class="log" href="/logout">Logout</a></p>');
                        } else {
                                $('#showLogin').html('<p><a class="log" href="/login">Login</a></p>');
                                $('#showRegister').html('<p><a class="log" href="/register">Register</a></p>');
                        }
                }
        }
        xmlhttp.open("POST","/checkLoginJSON/",true);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.setRequestHeader('X-CSRFToken', csrftoken);
        xmlhttp.send();
}
</script>

<div id="showRegister"></div>
<div id="showLogin"></div>
<div id="showLogout"></div>

<h1><a class="title" href="http://ec2-54-68-227-128.us-west-2.compute.amazonaws.com">Anti-Ebay</a></h1>

<ul>
<li><a class="nav" href="/addListing">Add your listing</a></p>
<li><a class="nav" href="/viewListing">View a listing</a></p>
<li><a class="nav" href="/searchListings">Search listings</a></p>
</ul>
<br>


<p>Posted by: {{username}}</p>
<br>
<p>Item: {{itemName}}</p>
<br>
<p>Item category: {{category}}</p>
<br>
<p>Item description: {{itemDescription}}</p>
<br>
<p>Max price: {{maxPrice}}</p>
<br>
<p>Listing description: {{description}}</p>
<br>
<p>Condition: {{condition}}</p>
<br>

<form action="/updateListing/" method="post">{% csrf_token %}
    <input type="hidden" name="listingID" value="{{listingID}}">
    <input type="submit" value="Update Listing">
</form>

<form action="/deleteListing/" method="post">{% csrf_token %}
    <input type="hidden" name="listingID" value="{{listingID}}">
    <input type="submit" value="Delete Listing">
</form>

</body>
</html>



